.main_content_casting {
  position: relative;
  background: var(--secundary) !important;
  padding: 4.563rem 0 2.75rem 0;
  overflow: hidden;
}
.main_content_casting svg {
  position: absolute;
  z-index: 0;
}
.pontos_ {
  left: -5rem;
  top: -7.5rem;
}
.circulo_azul {
  right: -7.5rem;
  top: -7.5rem;
}
.casting_content .title_large {
  margin-bottom: 5.625rem;
}
.main_content_casting .castig_slide .swiper-slide::after {
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(65, 65, 156, 0.65) 58.46%,
    #17246e 100%
  );
}
.main_content_casting .castig_slide .swiper-slide .nome_artista {
  bottom: 6.563rem;
}
.empresas_casting img {
  margin: 3.25rem auto;
  display: block;
}

.footer_casting {
  background: linear-gradient(to bottom, #f60393 30%, #fff 30%);
}

@media (max-width: 93.75rem) {
  .casting_content .title_large {
    font-size: 3.75rem;
    margin-bottom: 3.75rem;
  }
  .circulo_azul {
    width: 28.125rem;
    height: 28.125rem;
    right: -13.438rem;
    top: -6.25rem;
  }
  .pontos_ {
    top: -2.5rem;
    left: -6.25rem;
  }
}

@media (max-width: 34.375rem) {
  .header_casting {
    justify-content: flex-start !important;
  }
  .main_content_casting svg {
    display: none;
  }
}
