.hero {
  background: #000;
  height: calc(100vh - 10rem);
}
.hero-slide {
  width: 100%;
  height: 100%;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  height: 100%;
  z-index: 9999;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.swiper-button-next,
.swiper-button-prev {
  background: var(--success);
  width: 3.75rem !important;
  height: 3.75rem !important;
  border-radius: 50%;
  cursor: pointer;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.125rem !important;
  font-weight: 600;
  color: var(--primary);
  padding: 1.25rem;
}

/* conteúdo principal */
.main_content {
  padding: 5.125rem 0 9.75rem 0;
  background: linear-gradient(180deg, #ff0092 0%, #b9005a 51%, #ac0050 100%);
  position: relative;
}
.bg_main_content {
  position: absolute;
  background: var(--primary);
  height: 50%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}
.bg_main_content svg {
  position: absolute;
}
.circulo {
  top: -30rem;
  left: -12.5rem;
}
.pontos {
  right: -2.5rem;
  top: 2.375rem;
}
.triangulo {
  right: 0;
  bottom: -0.938rem;
}
.circulo_pontos {
  position: absolute;
  z-index: 10;
  top: calc(50% - 3.125rem);
  transform: translateY(-50%);
  left: -6.25rem;
}
/* quem somos */
.quem_somos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.quem_somos p {
  max-width: 72ch;
  margin-top: 1.625rem;
}

/* casting */
.casting {
  margin-top: 6.75rem;
}

/* servicos */
.servicos {
  margin-top: 4.063rem !important;
}
.servicos_itens {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.servico_item {
  position: relative;
  padding: 2.5rem;
  background: #ffffff;
  display: flex;
  border-radius: 1.438rem 1.438rem 0 1.438rem;
  flex-direction: column;
  transition: 0.7s 0.1s;
}
.servico_item:hover {
  transform: translateY(-1.875rem);
  box-shadow: 0px 0.625rem 2.813rem #00000080;
  border-radius: 1.438rem;
  transition: 0.6s 0.1s;
}
.servico_item::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 2.688rem;
  background: #00b1ff;
  position: absolute;
  left: 0;
}
.servico_item h2 {
  color: var(--text);
  font-size: 1.188rem;
  line-height: 1.688rem;
}
.servico_item h3 {
  color: var(--dark);
  line-height: 2.125rem;
  margin: 1.375rem 0 4.75rem 0;
  font-size: 1.5rem;
}
.servico_item p {
  color: var(--text);
  padding-bottom: 2.5rem;
}
.servico_item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  position: absolute;
  right: 0;
  background: transparent;
  transition: 0.7s;
  border-radius: 50%;
  bottom: 0;
}
.servico_item a:hover {
  background: var(--success);
}
.servico_item a svg path {
  transition: 0.7s;
}
.servico_item a:hover svg path {
  stroke: #fff;
  fill: #2315fe;
}

/* video */

.video {
  height: 25rem;
  border-radius: 1.25rem;
  overflow: hidden;
  margin-top: 7.5rem !important;
}
.video iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* próximos eventos */
.proximos_eventos {
  margin-top: 6.688rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.proximos_eventos .titulo {
  text-align: center;
}
.eventos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.188rem 1.75rem;
  margin-top: 3.625rem;
}
.evento {
  background: var(--success);
  padding: 1.125rem 1rem;
  display: grid;
  grid-template-columns: 5.125rem 1fr;
  gap: 0.938rem;
  align-items: center;
  border-radius: 0.625rem;
}
.evento img {
  width: 5.125rem;
  height: 5.125rem;
  object-fit: cover;
  border-radius: 50%;
}
.evento h2 {
  font-size: 1.063rem;
  color: var(--primary-alternative);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  background: #fff;
  display: inline-block;
  border-radius: 0.25rem;
  padding: 0.188rem 0.313rem;
}
.evento h3 *,
.evento h3 {
  text-transform: uppercase;
  color: var(--primary-alternative);
  letter-spacing: 0.15rem;
  font-size: 0.75rem;
  line-height: 0.813rem;
  margin-bottom: 0.875rem;
}
.evento p {
  color: var(--text);
}
.proximos_eventos .btn-plus {
  position: absolute;
  bottom: -12.5rem;
}

/* eventos realizados */
a.evento_realizado.box.show {
  transition: 0.6s;
}
.content_secundary {
  background: #f7f5ff;
}
.eventos_realizados {
  padding: 7.5rem 0 6.25rem 0;
  overflow-x: hidden;
}
.eventos_realizados .container {
  position: relative;
}
.eventos_adereco {
  position: absolute;
  right: -15.625rem;
  top: calc(50% + 5rem);
  transform: translateY(-50%);
  z-index: 1;
}
.header_eventos_healizados {
  display: flex;
  justify-content: space-between;
}
.header_eventos_healizados p {
  max-width: 60ch;
  align-self: flex-end;
}
.eventos_realizados_itens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3.75rem;
  gap: 1.875rem 2.5rem;
  transition: 0.9s;
}
.evento_realizado {
  position: relative;
  overflow: hidden;
  height: 26.75rem;
  z-index: 10;
  transition: 0.9s;
}
.evento_realizado::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(196, 196, 196, 0) 0%,
    rgba(65, 65, 156, 0.65) 58.46%,
    #17246e 100%
  );
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: 1.2s;
  z-index: 0;
  transition: 0.7s 0.2s;
}
.evento_realizado:hover::after {
  bottom: 0;
}
.evento_realizado:hover {
  border-radius: 2.5rem;
}
.evento_realizado img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.conteudo_evento {
  padding: 1.563rem;
  height: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  position: relative;
}
.evento_realizado:hover .conteudo_evento {
  opacity: 1;
  animation: show-up 0.7s forwards;
}
@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, 3.75rem, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.conteudo_evento h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: 0.125rem;
  margin-bottom: 1.25rem;
}
.conteudo_evento span {
  height: 4.625rem;
  width: 4.625rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-alternative);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.7s;
}
.conteudo_evento span:hover {
  filter: brightness(80%);
}
.eventos_realizados .btn-plus {
  margin: 3.563rem auto 0 auto;
}

/* comentários */
.comentarios {
  padding-bottom: 4.125rem;
}
.comentarios_slide {
  margin-top: 3.125rem;
  cursor: grab;
}
.comentario_item {
  background: #fff;
  padding: 1.75rem;
  border-radius: 0.625rem;
  transition: 0.7s;
  z-index: 100;
}
.comentario_item:hover {
  box-shadow: 0px 0.625rem 2.813rem #00000024;
  transform: translateY(1.875rem);
}
.comentario_item h2 {
  color: var(--primary-alternative);
}
.comentario_item p {
  color: var(--text);
  margin-top: 0.938rem;
}
.comentarios_slide .swiper-slide {
  padding-bottom: 3.75rem;
}

/* apoio */
.apoios {
  display: flex;
  justify-content: center;
}
.apoios img {
  display: block;
  width: 100%;
  max-width: 600px;
}

/* responsivo */
@media (max-width: 93.75rem) {
  .circulo {
    width: 28.688rem;
    height: 28.688rem;
    top: -18.75rem;
    left: -6.25rem;
  }
  .pontos {
    width: 16rem;
    height: 4.375rem;
  }
  .circulo_pontos {
    width: 12.5rem;
    height: 12.5rem;
    top: 50%;
  }
}
@media (max-width: 62.5rem) {
  .servico_item h3 {
    margin-bottom: 1.25rem !important;
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
  .servico_item {
    height: 18.75rem;
    padding: 1.25rem;
  }
  .eventos,
  .eventos_realizados_itens {
    grid-template-columns: repeat(2, 1fr);
  }
  .header_eventos_healizados .text {
    flex: 1;
    margin-left: 1.25rem;
  }
  .evento_realizado {
    height: 18.75rem !important;
  }
  .evento_realizado p {
    font-size: 0.875rem;
    line-height: 1.125rem;
  }
  .content_footer,
  .content_footer form {
    grid-template-columns: 1fr 1fr !important;
  }
  .form_item {
    grid-column: -1/1;
  }
}
@media (max-width: 48.75rem) {
  .servicos_itens {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .servico_item {
    flex: 1 1 18.75rem;
    padding: 2.5rem;
  }
  .video {
    height: 18.75rem;
  }
  .eventos,
  .eventos_realizados_itens {
    grid-template-columns: 1fr;
  }
  .header_eventos_healizados {
    flex-direction: column;
  }
  .header_eventos_healizados .text {
    margin-left: 0;
    margin-top: 1.375rem;
  }
}
@media (max-width: 34.375rem) {
  .circulo,
  .pontos {
    display: none;
  }

  .contador_paginas {
    display: none;
  }
  .bg_main_content {
    height: 36%;
  }
  .casting {
    margin-top: 4.375rem;
  }
  .servicos {
    margin-top: 10rem !important;
  }
  .circulo_linhas {
    bottom: 5rem !important;
    right: -12.5rem !important;
    left: initial !important;
  }
  .eventos_adereco {
    display: none;
  }

  .content_footer {
    gap: 3.75rem !important;
  }
  .copy {
    text-align: center;
  }
  .comentarios .titulo,
  .comentarios .subtitulo {
    text-align: center;
  }
  .comentarios {
    padding-bottom: 0;
  }
}
