@import url(home.css);
@import url(casting.css);
@import url(artista.css);
/* estilos gerais */

:root {
  --primary: #2315fe;
  --secundary: #f60393;
  --success: #00ffab;
  --primary-alternative: #184b98;
  --text: #838383;
  --secundary-alternative: #b620e0;
  --dark: #222222;
}
.primary-alternative {
  color: var(--primary-alternative);
}
.dark {
  color: var(--dark);
}
.text {
  color: var(--text);
}
.primary {
  color: var(--primary);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: "Poppins", sans-serif;
}
.img {
  max-width: 100%;
  display: block;
}
.container {
  width: 1260px;
  margin: 0 auto;
}
.index_ {
  position: relative;
  z-index: 10;
}

.subtitulo {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 2.33px;
  text-transform: uppercase;
  margin-bottom: 15px;
  display: block;
  line-height: 30px;
}
.titulo {
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  letter-spacing: 0.3px;
}
.title_large {
  color: var(--success);
  font-weight: 900;
  font-size: 117px;
  text-transform: uppercase;
}

.area_title {
  background: var(--secundary);
  padding: 160px 15px;
  text-align: center;
}
.area_title h2 {
  font-size: 75px;
  line-height: 92px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--secundary);
  text-align: center;
  width: 100%;
  max-width: 210px;
  letter-spacing: 1.6px;
  padding: 10px 13px;
  border-radius: 23px;
  height: 45px;
  color: #fff !important;
  transition: 0.7s all;
}
.btn:hover {
  box-shadow: 0px 3px 4px #00000080;
  filter: brightness(120%);
}

.btn_contact {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  padding: 10px;
  margin-top: 35px;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  transition: 0.7s;
}
.btn_contact svg {
  margin-left: 10px;
  transition: 0.8s;
}
.btn_contact:hover svg {
  transform: rotate(360deg);
}
.btn_contact:hover,
.btn-plus:hover {
  filter: brightness(80%);
}

.btn-plus {
  font-size: 86px;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--secundary-alternative);
  transition: 0.7s;
}

.btn_artista {
  background: var(--primary);
  gap: 5px;
  display: flex;
  justify-content: center;
  padding: 19px 23px;
  position: relative;
  max-width: 350px;
  border-radius: 30px;
}
.btn_artista svg {
  margin: 0 !important;
  right: 23px;
}
/* header */
.main_header {
  display: grid;
  grid-template-rows: 50px 110px;
  box-shadow: 0px 10px 30px #00000029;
}
.top_nav {
  background: var(--primary);
}
.top_nav .container,
.main_nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main_nav {
  background: var(--success);
}
.top_nav ul {
  display: flex;
}
.top_nav ul li a {
  padding: 3px;
  font-size: 12px;
  transition: 0.6s all;
}
.top_nav ul a:hover,
.menu a:not(.btn):hover {
  color: var(--secundary);
}
.top_nav ul li a::after {
  content: "|";
}
a.ultimo::after {
  display: none;
}
.social_menu {
  display: flex;
  gap: 25px;
}
.social_menu svg path {
  transition: 0.7s all;
}
.social_menu svg:hover path {
  fill: var(--success);
}
.menu {
  display: flex;
  align-items: center;
}
.menu a:not(.btn) {
  color: var(--primary);
  padding: 3px 22px;
  transition: 0.7s all;
}

/* slide principal */
.header_casting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_casting .titulo {
  text-transform: uppercase;
}
.contador_paginas {
  display: flex;
  gap: 9px;
  align-items: center;
}
.contador_paginas span {
  font-size: 18px;
  font-weight: bold;
}
#atual_slide {
  opacity: 0.5;
}
.linha {
  height: 3px;
  width: 200px;
  background: #ffff;
}
.castig_slide {
  margin-top: 80px;
  height: 640px;
  padding-bottom: 80px !important;
}
.castig_slide .swiper-slide {
  overflow: hidden;
  height: 100%;
  transition: 0.6s;
  position: relative;
}
.castig_slide .swiper-slide::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(145, 91, 212, 0) 0%,
    rgba(198, 47, 180, 0.3) 46.55%,
    #fa0495 100%
  );
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: 1.2s;
}

.castig_slide .swiper-slide:hover::after {
  bottom: 0;
}

.castig_slide .swiper-slide img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100% !important;
  transition: 1.2s;
}
.nome_artista,
.data_evento {
  position: absolute;
  z-index: 100;
  bottom: 52px;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 2.78px;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  transition: 0.7s 0.2s;
}
.castig_slide .swiper-slide:hover {
  border-radius: 18px;
}
.castig_slide .swiper-slide:hover img {
  transform: scale(1.06);
}
.castig_slide .swiper-slide:hover .nome_artista,
.castig_slide .swiper-slide:hover .data_evento {
  opacity: 1;
}
.data_evento {
  font-size: 43px;
  font-weight: bold;
}

.castig_slide .swiper-pagination {
  z-index: 100;
}
.castig_slide .swiper-pagination-bullet {
  background: #fff;
  height: 22px;
  width: 22px;
}

/* footer */
footer {
  background: linear-gradient(to bottom, #f7f5ff 40%, #fff 40%);
  position: relative;
  padding: 104px 0 60px 0;
}
.bg_footer {
  width: calc(100% - 135px);
  background: var(--primary);
  height: 100%;
  position: absolute;
  z-index: 0;
  border-radius: 0 20px 5px 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bg_footer svg {
  position: absolute;
}
.circulo_linhas {
  bottom: -160px;
  left: -160px;
}
.circulo_transparente {
  left: -180px;
  top: -100px;
}
footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content_footer {
  display: grid;
  grid-template-columns: 1fr 470px;
  column-gap: 135px;
  text-align: left;
  margin-top: 60px;
  padding-bottom: 89px;
}
.bg_footer .titulo {
  margin-bottom: 23px;
}
.content_footer form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px 27px;
}
.content_footer form label {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
  margin-bottom: 5px;
}
.content_footer form input,
.content_footer form textarea {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 2px solid var(--secundary);
  background: transparent;
  outline: none;
}
.content_footer form textarea {
  resize: none;
  height: 125px;
}

.form_item {
  display: grid;
}
.form_item.mensagem {
  grid-column: -1/1;
}

.btn_form {
  border: none;
  border-radius: 6px;
  font-size: 12px;
  letter-spacing: 3.6px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.btn_form:hover {
  box-shadow: 0px 10px 50px var(--secundary);
}

.cards_footer {
  display: grid;
  gap: 30px;
}
.cards_footer .card {
  background: var(--secundary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 23px 35px;
  border-radius: 10px;
}
.cards_footer .card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 9px;
}
.cards_footer .card span {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;
  border-top: 1px solid rgba(255, 255, 255, 0.385);
}
.logo_footer svg {
  width: 203px;
  height: 148px;
}

footer .social_menu {
  margin: 46px 0;
}

.btn_mobile,
.menu_mobile {
  display: none;
}

.whats_fixo {
  position: fixed;
  right: 85px;
  bottom: 85px;
  z-index: 100;
  transition: 0.7s all;
}
.whats_fixo:hover {
  filter: brightness(80%);
}

/* responsivo */
@media (max-width: 1500px) {
  .whats_fixo svg {
    width: 80px;
    height: 80px;
    right: 80px;
    bottom: 80px;
  }
  .whats_fixo {
    right: 80px;
    bottom: 40px;
  }
  .area_title {
    padding: 80px 0;
  }
  .title_large {
    font-size: 80px !important;
    line-height: 80px;
  }
  .area_title h2 {
    font-size: 45px;
    line-height: 50px;
  }
}

@media (max-width: 1260px) {
  .container {
    width: 90%;
  }

  /* menu mobile */

  .btn_mobile {
    display: block;
    width: 34px;
    height: 28px;
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.7s;
    position: relative;
  }
  .hamburgger {
    display: block;
    border-top: 3px solid #2315fe;
    width: 100%;
    position: relative;
    z-index: 9999999;
    transition: 0.7s;
  }
  .btn_mobile:hover {
    filter: brightness(80%);
  }
  .hamburgger::after,
  .hamburgger::before {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background: #2315fe;
    margin-top: 10px;
    position: relative;
    transition: 0.7s;
  }

  .menu {
    display: none;
  }
  .btn_mobile.ativo {
    z-index: 9999999;
    position: absolute;
    top: 25px;
    right: calc(50% - 56px);
    background: var(--success);
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .btn_mobile.ativo .hamburgger {
    border-top: none;
    transition: 0.7s;
  }
  .btn_mobile.ativo .hamburgger::after {
    transform: rotate(54deg);
    width: 35px;
    height: 2px;
    top: -12px;
    left: 8px;
    transition: 0.7s;
  }
  .btn_mobile.ativo .hamburgger::before {
    transform: rotate(-54deg);
    width: 35px;
    height: 2px;
    top: 0;
    left: 7px;
    transition: 0.7s;
  }
  .menu_mobile.ativo {
    max-width: 100%;
  }
  .menu_mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #0d0497e5;
    width: 100%;
    z-index: 9999;
    height: 100vh !important;
    overflow: hidden;
    max-width: 0;
    transition: 0.7s;
  }
  .menu_area {
    background: #fff;
    position: absolute;
    top: 50px;
    left: 66px;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
    border-radius: 30px;
    overflow-y: auto;
  }
  .menu_area > img {
    margin-bottom: 45px;
  }
  .menu_area li a:not(.btn) {
    color: var(--primary);
    font-family: 18px !important;
    padding: 15px;
    display: block;
    transition: 0.7s;
    display: flex;
    align-items: center;
    transition: 0.7s;
  }
  .menu_area li a,
  .menu_area li a:not(.btn)::before {
    transition: 0.7s;
  }

  .menu_area li a:hover:not(.btn) {
    color: var(--secundary);
    transition: 0.7s;
  }
  .menu_area li a:hover:not(.btn)::before {
    content: "";
    height: 1px;
    width: 28px;
    margin-right: 12px;
    background: var(--secundary) !important;
    display: inline-block;
  }
  .menu_area .btn {
    width: 100%;
    margin-top: 40px;
  }

  .menu_social_mobile {
    gap: 24px;
    margin-top: 50px;
  }
  .menu_social_mobile svg {
    width: 23px !important;
    height: 23px !important;
  }
  .todas_empresas {
    margin-top: 47px;
  }
}

@media (max-width: 780px) {
  .bg_footer {
    width: 100% !important;
  }
  .btn_form {
    grid-column: -1/1;
  }
  .content_footer {
    grid-template-columns: 1fr !important;
    gap: 30px;
  }
  .whats_fixo {
    right: 40px;
    bottom: 40px;
  }
  .whats_fixo svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 550px) {
  .social_menu {
    gap: 8px;
  }
  .social_menu svg {
    width: 9px;
    height: 9px;
  }
  .top_nav ul li a {
    font-size: 10px;
  }
  footer .social_menu svg {
    width: 13px;
    height: 13px;
  }
  .contador_paginas {
    display: none;
  }
  .header_casting {
    justify-content: center;
  }
  .title_large {
    font-size: 72px !important;
    text-align: center;
    margin-bottom: 72px !important;
  }
  .castig_slide {
    margin-top: 40px;
  }

  footer .titulo {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 21px;
  }
  .castig_slide {
    height: 550px !important;
  }
  .area_title .title_large {
    margin-bottom: 0 !important;
    font-size: 48px !important;
    line-height: 48px;
  }
  .area_title h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .titulo {
    font-size: 30px;
    line-height: 36px;
  }
}
@media (max-width: 426px) {
  .top_nav .container {
    flex-direction: column;
  }
  .title_large {
    font-size: 48px;
  }
}
