@import url(home.css);
@import url(casting.css);
@import url(artista.css);
/* estilos gerais */

:root {
  --primary: #2315fe;
  --secundary: #f60393;
  --success: #00ffab;
  --primary-alternative: #184b98;
  --text: #838383;
  --secundary-alternative: #b620e0;
  --dark: #222222;
}
.primary-alternative {
  color: var(--primary-alternative);
}
.dark {
  color: var(--dark);
}
.text {
  color: var(--text);
}
.primary {
  color: var(--primary);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
p {
  font-family: "Merriweather Sans", sans-serif;
  line-height: 1.625rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
a {
  font-family: "Poppins", sans-serif;
}
.img {
  max-width: 100%;
  display: block;
}
.container {
  width: 78.75rem;
  margin: 0 auto;
}
.index_ {
  position: relative;
  z-index: 10;
}

.subtitulo {
  font-size: 1.313rem;
  font-weight: bold;
  letter-spacing: 0.146rem;
  text-transform: uppercase;
  margin-bottom: 0.938rem;
  display: block;
  line-height: 1.875rem;
}
.titulo {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.75rem;
  letter-spacing: 0.019rem;
}
.title_large {
  color: var(--success);
  font-weight: 900;
  font-size: 7.313rem;
  text-transform: uppercase;
}

.area_title {
  background: var(--secundary);
  padding: 10rem 0.938rem;
  text-align: center;
}
.area_title h2 {
  font-size: 4.688rem;
  line-height: 5.75rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--secundary);
  text-align: center;
  width: 100%;
  max-width: 13.125rem;
  letter-spacing: 0.1rem;
  padding: 0.625rem 0.813rem;
  border-radius: 1.438rem;
  height: 2.813rem;
  color: #fff !important;
  transition: 0.7s all;
}
.btn:hover {
  box-shadow: 0px 0.188rem 0.25rem #00000080;
  filter: brightness(120%);
}

.btn_contact {
  display: flex;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding: 0.625rem;
  margin-top: 2.188rem;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  transition: 0.7s;
}
.btn_contact svg {
  margin-left: 0.625rem;
  transition: 0.8s;
}
.btn_contact:hover svg {
  transform: rotate(360deg);
}
.btn_contact:hover,
.btn-plus:hover {
  filter: brightness(80%);
}

.btn-plus {
  font-size: 5.375rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.625rem;
  height: 4.625rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--secundary-alternative);
  transition: 0.7s;
}

.btn_artista {
  background: var(--primary);
  gap: 0.313rem;
  display: flex;
  justify-content: center;
  padding: 1.188rem 1.438rem;
  position: relative;
  max-width: 21.875rem;
  border-radius: 1.875rem;
}
.btn_artista svg {
  margin: 0 !important;
  right: 1.438rem;
}
/* header */
.main_header {
  display: grid;
  grid-template-rows: 3.125rem 6.875rem;
  box-shadow: 0px 0.625rem 1.875rem #00000029;
}
.top_nav {
  background: var(--primary);
}
.top_nav .container,
.main_nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main_nav {
  background: var(--success);
}
.top_nav ul {
  display: flex;
}
.top_nav ul li a {
  padding: 0.188rem;
  font-size: 0.75rem;
  transition: 0.6s all;
}
.top_nav ul a:hover,
.menu a:not(.btn):hover {
  color: var(--secundary);
}
.top_nav ul li a::after {
  content: "|";
}
a.ultimo::after {
  display: none;
}
.social_menu {
  display: flex;
  gap: 1.563rem;
}
.social_menu svg path {
  transition: 0.7s all;
}
.social_menu svg:hover path {
  fill: var(--success);
}
.menu {
  display: flex;
  align-items: center;
}
.menu a:not(.btn) {
  color: var(--primary);
  padding: 0.188rem 1.375rem;
  transition: 0.7s all;
}

/* slide principal */
.header_casting {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_casting .titulo {
  text-transform: uppercase;
}
.contador_paginas {
  display: flex;
  gap: 0.563rem;
  align-items: center;
}
.contador_paginas span {
  font-size: 1.125rem;
  font-weight: bold;
}
#atual_slide {
  opacity: 0.5;
}
.linha {
  height: 0.188rem;
  width: 12.5rem;
  background: #ffff;
}
.castig_slide {
  margin-top: 5rem;
  height: 40rem;
  padding-bottom: 5rem !important;
}
.castig_slide .swiper-slide {
  overflow: hidden;
  height: 100%;
  transition: 0.6s;
  position: relative;
}
.castig_slide .swiper-slide::after {
  content: "";
  background: linear-gradient(
    180deg,
    rgba(145, 91, 212, 0) 0%,
    rgba(198, 47, 180, 0.3) 46.55%,
    #fa0495 100%
  );
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  transition: 1.2s;
}

.castig_slide .swiper-slide:hover::after {
  bottom: 0;
}

.castig_slide .swiper-slide img {
  object-fit: cover;
  width: 100%;
  display: block;
  height: 100% !important;
  transition: 1.2s;
}
.nome_artista,
.data_evento {
  position: absolute;
  z-index: 100;
  bottom: 3.25rem;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.563rem;
  line-height: 2.25rem;
  letter-spacing: 0.174rem;
  font-weight: 300;
  text-align: center;
  opacity: 0;
  transition: 0.7s 0.2s;
}
.castig_slide .swiper-slide:hover {
  border-radius: 1.125rem;
}
.castig_slide .swiper-slide:hover img {
  transform: scale(1.06);
}
.castig_slide .swiper-slide:hover .nome_artista,
.castig_slide .swiper-slide:hover .data_evento {
  opacity: 1;
}
.data_evento {
  font-size: 2.688rem;
  font-weight: bold;
}

.castig_slide .swiper-pagination {
  z-index: 100;
}
.castig_slide .swiper-pagination-bullet {
  background: #fff;
  height: 1.375rem;
  width: 1.375rem;
}

/* footer */
footer {
  background: linear-gradient(to bottom, #f7f5ff 40%, #fff 40%);
  position: relative;
  padding: 6.5rem 0 3.75rem 0;
}
.bg_footer {
  width: calc(100% - 8.438rem);
  background: var(--primary);
  height: 100%;
  position: absolute;
  z-index: 0;
  border-radius: 0 1.25rem 0.313rem 0;
  top: 0;
  left: 0;
  overflow: hidden;
}
.bg_footer svg {
  position: absolute;
}
.circulo_linhas {
  bottom: -10rem;
  left: -10rem;
}
.circulo_transparente {
  left: -11.25rem;
  top: -6.25rem;
}
footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.content_footer {
  display: grid;
  grid-template-columns: 1fr 29.375rem;
  column-gap: 8.438rem;
  text-align: left;
  margin-top: 3.75rem;
  padding-bottom: 5.563rem;
}
.bg_footer .titulo {
  margin-bottom: 1.438rem;
}
.content_footer form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.25rem 1.688rem;
}
.content_footer form label {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.688rem;
  margin-bottom: 0.313rem;
}
.content_footer form input,
.content_footer form textarea {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 0.125rem solid var(--secundary);
  background: transparent;
  outline: none;
}
.content_footer form textarea {
  resize: none;
  height: 7.813rem;
}

.form_item {
  display: grid;
}
.form_item.mensagem {
  grid-column: -1/1;
}

.btn_form {
  border: none;
  border-radius: 0.375rem;
  font-size: 0.75rem;
  letter-spacing: 0.225rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.btn_form:hover {
  box-shadow: 0px 0.625rem 3.125rem var(--secundary);
}

.cards_footer {
  display: grid;
  gap: 1.875rem;
}
.cards_footer .card {
  background: var(--secundary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.438rem 2.188rem;
  border-radius: 0.625rem;
}
.cards_footer .card h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 0.563rem;
}
.cards_footer .card span {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.563rem;
}

.copy {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.875rem;
  border-top: 0.063rem solid rgba(255, 255, 255, 0.385);
}
.logo_footer svg {
  width: 12.688rem;
  height: 9.25rem;
}

footer .social_menu {
  margin: 2.875rem 0;
}

.btn_mobile,
.menu_mobile {
  display: none;
}

.whats_fixo {
  position: fixed;
  right: 5.313rem;
  bottom: 5.313rem;
  z-index: 100;
  transition: 0.7s all;
}
.whats_fixo:hover {
  filter: brightness(80%);
}

/* responsivo */
@media (max-width: 93.75rem) {
  .whats_fixo svg {
    width: 5rem;
    height: 5rem;
    right: 5rem;
    bottom: 5rem;
  }
  .whats_fixo {
    right: 5rem;
    bottom: 2.5rem;
  }
  .area_title {
    padding: 5rem 0;
  }
  .title_large {
    font-size: 5rem !important;
    line-height: 5rem;
  }
  .area_title h2 {
    font-size: 2.813rem;
    line-height: 3.125rem;
  }
}

@media (max-width: 78.75rem) {
  .container {
    width: 90%;
  }

  /* menu mobile */

  .btn_mobile {
    display: block;
    width: 2.125rem;
    height: 1.75rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.7s;
    position: relative;
  }
  .hamburgger {
    display: block;
    border-top: 0.188rem solid #2315fe;
    width: 100%;
    position: relative;
    z-index: 9999999;
    transition: 0.7s;
  }
  .btn_mobile:hover {
    filter: brightness(80%);
  }
  .hamburgger::after,
  .hamburgger::before {
    display: block;
    content: "";
    height: 0.188rem;
    width: 100%;
    background: #2315fe;
    margin-top: 0.625rem;
    position: relative;
    transition: 0.7s;
  }

  .menu {
    display: none;
  }
  .btn_mobile.ativo {
    z-index: 9999999;
    position: absolute;
    top: 1.563rem;
    right: calc(50% - 3.5rem);
    background: var(--success);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
  .btn_mobile.ativo .hamburgger {
    border-top: none;
    transition: 0.7s;
  }
  .btn_mobile.ativo .hamburgger::after {
    transform: rotate(54deg);
    width: 2.188rem;
    height: 0.125rem;
    top: -0.75rem;
    left: 0.5rem;
    transition: 0.7s;
  }
  .btn_mobile.ativo .hamburgger::before {
    transform: rotate(-54deg);
    width: 2.188rem;
    height: 0.125rem;
    top: 0;
    left: 0.438rem;
    transition: 0.7s;
  }
  .menu_mobile.ativo {
    max-width: 100%;
  }
  .menu_mobile {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #0d0497e5;
    width: 100%;
    z-index: 9999;
    height: 100vh !important;
    overflow: hidden;
    max-width: 0;
    transition: 0.7s;
  }
  .menu_area {
    background: #fff;
    position: absolute;
    top: 3.125rem;
    left: 4.125rem;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.125rem 1.875rem;
    border-radius: 1.875rem;
    overflow-y: auto;
  }
  .menu_area > img {
    margin-bottom: 2.813rem;
  }
  .menu_area li a:not(.btn) {
    color: var(--primary);
    font-family: 1.125rem !important;
    padding: 0.938rem;
    display: block;
    transition: 0.7s;
    display: flex;
    align-items: center;
    transition: 0.7s;
  }
  .menu_area li a,
  .menu_area li a:not(.btn)::before {
    transition: 0.7s;
  }

  .menu_area li a:hover:not(.btn) {
    color: var(--secundary);
    transition: 0.7s;
  }
  .menu_area li a:hover:not(.btn)::before {
    content: "";
    height: 0.063rem;
    width: 1.75rem;
    margin-right: 0.75rem;
    background: var(--secundary) !important;
    display: inline-block;
  }
  .menu_area .btn {
    width: 100%;
    margin-top: 2.5rem;
  }

  .menu_social_mobile {
    gap: 1.5rem;
    margin-top: 3.125rem;
  }
  .menu_social_mobile svg {
    width: 1.438rem !important;
    height: 1.438rem !important;
  }
  .todas_empresas {
    margin-top: 2.938rems;
  }
}

@media (max-width: 48.75rem) {
  .bg_footer {
    width: 100% !important;
  }
  .btn_form {
    grid-column: -1/1;
  }
  .content_footer {
    grid-template-columns: 1fr !important;
    gap: 1.875rem;
  }
  .whats_fixo {
    right: 2.5rem;
    bottom: 2.5rem;
  }
  .whats_fixo svg {
    width: 3.75rem;
    height: 3.75rem;
  }
}

@media (max-width: 34.375rem) {
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .social_menu {
    gap: 0.5rem;
  }
  .social_menu svg {
    width: 0.563rem;
    height: 0.563rem;
  }
  .top_nav ul li a {
    font-size: 0.625rem;
  }
  footer .social_menu svg {
    width: 0.813rem;
    height: 0.813rem;
  }
  .contador_paginas {
    display: none;
  }
  .header_casting {
    justify-content: center;
  }
  .title_large {
    font-size: 4.5rem !important;
    text-align: center;
    margin-bottom: 4.5rem !important;
  }
  .castig_slide {
    margin-top: 2.5rem;
  }

  footer .titulo {
    font-size: 1.875rem;
    line-height: 2.313rem;
    margin-bottom: 1.313rem;
  }
  .castig_slide {
    height: 34.375rem !important;
  }
  .area_title .title_large {
    margin-bottom: 0 !important;
    font-size: 3rem !important;
    line-height: 3rem;
  }
  .area_title h2 {
    font-size: 1.75rem;
    line-height: 2rem;
  }
  .titulo {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media (max-width: 26.625rem) {
  .top_nav .container {
    flex-direction: column;
  }
  .title_large {
    font-size: 3rem;
  }
}
